.panel-sequence {
  margin-top: 20px;
}

.drum, .tempo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tempo {
  margin-bottom: 3px;
}

.drum-type {
  flex: 1;
  font-size: 1.2em;
  padding-right: 20px;
}

.sequence {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.step {
  position: relative;
  display: flex;
  width: 25px;
  height: 25px;
  margin: 1px;
  background-color: #ecf0f1;
  color: #2c3e50;
  align-items: center;
  justify-content: center;
}

.tempo .step {
  height: 4px;
}

.step:hover {
  cursor: pointer;
}

.tempo .step:hover {
  cursor: auto;
}

.step.active {
  background-color: #f1c40f;
}

.step.armed {
  background-color: #e74c3c;
}

/* .step.active.playing {
  background-color: #e74c3c;
} */

.disabled {
  opacity: 0.8;
}

#play-button {
  font-size: 1.1em;
  font-weight: 200;
  width: 100px;
}

#play-button.playing {
  background-color: #c0392b;
}

.controls {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.drum-controls .volume {
  margin-left: 0;
}

.bpm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.bpm label {
  display: block;
  margin-bottom: 10px;
}

.bpm input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

.upload {
  margin-right: 16px;
}

.inputfile {
  display: none;
}

.upload label {
  background-color: transparent;
  border: 1px solid #ecf0f1;
  color: #ecf0f1;
  padding: 5px;
  text-transform: uppercase;
  font-size: .8em;
}