.panel-waveform {
  box-sizing: border-box;
  width: 860px;
  padding: 10px;
  background-color: #34495e;
  justify-content: center;
  align-items: center;
  color: #ecf0f1;
}

#waveform {
  width: 840px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.midi-panel {
  display: flex;
  justify-content: space-around;
}

.midi-oct {
  width: 287px;
}

.midi-selected {
  width: 283px;
  height: 10px;
  margin-bottom: 10px;
  background-color: #ecf0f1;
}

.midi-selected.selected {
  background-color: #e74c3c;
}

.midi-notes {
  position: relative;
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.midi-note {
  position: relative;
  display: flex;
  border: 1px solid #34495e;
  width: 40px;
  height: 40px;
  background-color: #ecf0f1;
  color: #2c3e50;
  align-items: center;
  justify-content: center;
}

.midi-block {
  display: flex;
  justify-content: center;
}

.midi-top {
  z-index: 100;
  margin-bottom: -10px;
}

.help-panel {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.octave-help {
  padding: 0 10px;
}

.show-keyboard {
  overflow: hidden;
}

.hidden-keyboard {
  height: 0px;
}
